.my-top {
    background-color:#900101;
    text-align: center;
    color: white;
    font-size: 4em;
    border-style: groove;
    border-width: 4px;
}

body {
	background-image: url("love-bg.jpg");
	background-size: 250px 250px;
}

.main-info {
    background-color: white;

}