.my-top {
    background-color:#900101;
    text-align: center;
    color: white;
    font-size: 6em;
    border-style: groove;
    border-width: 4px;
}

body {
	background-image: url("love-bg.jpg");
	background-size: 300px 250px;
}
