.my-top {
    background-color:#900101;
    text-align: center;
    color: white;
    font-size: 4em;
    border-style: groove;
    border-width: 4px;
}

body {
	background-image: url("love-bg.jpg");
    background-size: 250px 250px;
    font-family: 'Marvel', sans-serif;
    
}


/* make ur border below*/
.main-info {
    background-color: white;
    margin-top: 100px;
    max-width: 600px;
    text-align: center;
    border-color: #900101;
    border-style: groove;
    border-width: 4px;
    color: #900101;
}

.start-button {
    background-color: white;
    border: none;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.start-button:hover {
    background-color: #900101;
    cursor: pointer;
    transform: scale(1.5);
    transition: all 0.2s ease-in-out;
}
.show-results {
    background-color: white;
    border: none;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.show-results:hover {
    background-color: #900101;
    cursor: pointer;
    transform: scale(1.5);
    transition: all 0.2s ease-in-out;
}

.play-again-button:hover {
    cursor: pointer;
    transform: scale(1.5);
    transition: all 0.2s ease-in-out;
}

img.four-heroes {
    
    object-fit: fill;
}
.question1 {
    background-color: white;
    margin-top: 100px;
    max-width: 600px;
    text-align: center;
    border-color: #900101;
    border-style: groove;
    border-width: 4px;
}


#increase{
    font-size: 2rem;
    font-family: 'Marvel', sans-serif;
    color: rgb(14, 6, 6)
}

#font-increase{
    font-family: 'Marvel', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

/*stylizing radio buttons*/
[type="radio"]:checked + span:after,

 

[type="radio"].with-gap:checked + span:before,

 


[type="radio"].with-gap:checked + span:after {

 


  border: 2px solid #900101;

 

}

[type="radio"]:checked + span:after,

 


[type="radio"].with-gap:checked + span:after {

 


  background-color: #900101;

 

}

 

